# Node modules
node_modules/

# Environment variables file
.env

# Firebase Service Account Key (Sensitive data)
config/serviceAccountKey.json

# Logs
logs/
*.log

# Operating system files (for example, macOS)
.DS_Store
